force-app/main/flows/AutomateFeedbackSubmission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_if_the_Event_is_Completed</name>
        <label>Check if the Event is Completed</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Is_Event_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Feedback_Record</targetReference>
            </connector>
            <label>Is Event Completed?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AutomateFeedbackSubmission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AutomateFeedbackSubmission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Feedback_Record</name>
        <label>Create Feedback Record</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Record.End_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Create_Feedback_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating__c</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <object>Feedback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_the_Event_is_Completed</targetReference>
        </connector>
        <object>Event_Manage__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
